@model Razor.Models.Product

@{
    ViewBag.Title = "Nazwa Produktu";
   
}
Nazwa Produktu: @Model.Name

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        
       
    </body>
</html>
